<div class="layout-shell">
  <!-- <app-topbar (toggleMenu)="toggleSidebar()"></app-topbar> -->
<app-topbar (toggleMenu)="toggleSidebar()" [collapsed]="isCollapsed"></app-topbar>


  <div class="d-flex">
    <app-sidebar
      [collapsed]="isCollapsed"
      [mobileOpen]="isMobileSidebarOpen"
      (closeMobile)="closeMobileSidebar()"
    ></app-sidebar>

    <main class="flex-grow-1 p-3">
      <router-outlet></router-outlet>
    </main>
  </div>

  <div
    class="sidebar-overlay"
    *ngIf="isMobileSidebarOpen"
    (click)="closeMobileSidebar()"
  ></div>

  <footer class="app-footer border-top small text-muted py-3 px-4 bg-white">
    2025 Amazonas Trading Peru S.A.C.
  </footer>
</div>
