@use './styles/main';



@import 'styles/theme-css-vars';


:root{
  --ui-blue:   #0A3DF3;
  --ui-orange: #FD4A29;
  --ui-green:  #23b345;
  --ui-amber:  #fbbf24;
  --ui-red:    #ef4444;
  --ui-border: #e9eef6;
  --ui-hover-bg: #FFF6F3;
  --ui-edge: 6px;
}
